{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "extends": [
    "plugin:vue/vue3-strongly-recommended"
  ],
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "no-trailing-spaces": "error",
    "space-before-blocks": "error",
    "comma-spacing": "error",
    "block-spacing": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "space-infix-ops": "error",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "semi": [
      2,
      "always"
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-case-declarations": "off",
    "vue/no-v-html": "off",
    "no-throw-literal": "off",
    "camelcase": 0
  }
}
